name: mcint

x-logging: &default-logging
  driver: "local"
  options:
    max-size: 10m # a modifier ?
    max-file: "3" # a modifier ?

services:
  proxy:
    image: nginx:mainline-alpine
    volumes:
      - ./proxy/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./proxy/.htpasswd:/etc/nginx/.htpasswd:ro
      - ./proxy/ssl:/etc/nginx/ssl:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - db
      - backend
      - frontend
    restart: unless-stopped
    logging: *default-logging

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: unless-stopped
    logging: *default-logging

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    restart: unless-stopped
    logging: *default-logging

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    volumes:
      - ./blacklist.json:/blacklist.json:ro
      - ./whitelist.json:/whitelist.json:ro
    depends_on:
      - db
    restart: unless-stopped
    logging: *default-logging

volumes:
  postgres: